#root {
    height: 100%;
}

.ant-layout {
    min-height: 100%;
}

.responsive {
    width: calc(100% - 100px);
    max-width: 1210px;
    margin: 0 auto;
}

.ant-layout-content.responsive {
    margin-top: 24px;
}

.buttons-container {
    display: flex;
    gap: 12px;
}
.buttons-container.flex-end {
    justify-content: flex-end;
}

@media screen and (max-width: 760px) {
    .responsive {
        width: calc(100% - 48px);
    }
}